.event-img{
   width: 13.2rem;
   height: 13.1rem;
  
}

.event-about-div{
    font-weight: 500;
    font-size: 1.1rem;
}

.event-about-div>p{
   
   text-align: left;
    max-height: 4.2em;
    overflow: hidden;
    font-family:'Courier New', Courier, monospace;
   font-weight: 500;
   color: black;
   word-spacing: -2px;
}



