.navbar{
    background-color: rgb(207, 3, 3);
    font-size: small;
    font-style: bold;
    width: 95%;
    margin: auto;
    position: sticky;
    height: 4.8rem;
    border-radius: 0.3rem;
}
.navbar-links{
   width: max-content;
   margin: auto;
}

.navbar-links-link{
   
    margin-right: 0.5rem;
    font-weight: 500;
    color: white;
   
    
}

.navbar-links-link:hover{
    background-color: black;
    cursor: pointer;
    color: white;
}


@media screen and (max-width: 1260px) {
    .navbar-container-brand{
    margin-left: -2rem;
    }
}

@media screen and (max-width: 1300px) {
    .navbar{
        width: 98%;
    }
}

@media screen and (max-width: 600px) {
    .navbar-container-brand{
        margin-left: 0rem;
        }
    
}

@media screen and (max-width: 370px) {
    
}

